*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ContenedorArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    transition: .6s ease;
    color: black;
    margin: 0 10px;
}

.ContenedorArrow:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    transform: scale(1.2);
    cursor: pointer;
}

.Arrow{
    width: 2rem;
    height: 2rem;
}