*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}


@media screen and (min-width:320px) {
    #cont-cardDetails{
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-general{
        width: 75%;
        height: 35vh;
        background-color: black;
        color: white;
        display: flex;
        text-align: center;
        border-radius: 10px;
    }

    .imgDetails{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }

    .cont-ImgDetails{
        width: 40%;
        height: 100%;
        display: flex;
    }

    .body-CardDetails{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 8px;
        align-items: center;
    }

    .title-cardDetails{
        font-size: 9px;
        color: var(--naranja);
        margin-top: 3px;
    }

    .description-cardDetails{
        font-size: 10px;
        color: white;
    }

    .population-cardDetails{
        color: var(--naranja);
    }

    .population-cardDetails{
        font-size: 1rem;
        color: var(--celeste);
        font-weight: bold;
    }

    .titlePopuparTinearies{
        /* border: 2px solid brown; */
        text-align: center;
        margin: .5rem 0;
        color: var(--color-primario);
    }

    .title-cardDetails{
        font-size: 1.9rem;
    }

    #containerAllDetails{
        background-image: url(https://images.unsplash.com/photo-1550133730-695473e544be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-position: center;
        min-height: 69vh;
    }

    .btn-commentDetails{
        padding: 4px;
        font-size: 12px;
        border-radius: 15px;
        width: 75%;
        background-color: var(--naranja);
        color: white;
    }
}

@media screen and (min-width:768px){
    #cont-cardDetails{
        align-items: flex-start;
    }
    
    .card-general{
        width: 75%;
        margin-top: 4rem;
        height: 25rem;
    }

    .body-CardDetails{
        align-items: center;
        justify-content: center;
    }

    .title-cardDetails{
        font-size: 3rem;
    }

    .description-cardDetails{
        font-size: 2rem;
    }

    .population-cardDetails{
        letter-spacing: 1px;
        font-size: 1rem;
        letter-spacing: 2px;
    }

    .btn-commentDetails{
        /* border: 2px solid red; */
        width: 45%;
        cursor: pointer;
    }
} 

@media screen and (min-width:1024px){
    .btn-commentDetails{
        /* border: 2px solid red; */
        width: 35%;
        transition: .5s ease;
        cursor: pointer;
    }

    .btn-commentDetails:hover{
        background-color: var(--color-primario);
    }
}

@media screen and (min-width:1440px){
    .btn-commentDetails{
        /* border: 2px solid red; */
        width: 25%;
        margin-top: 1rem;
    }
}