*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}

@media screen and (min-width:320px) {

    #containerGeneralAll{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }

    #containerCardDetails{
        /* border: 2px solid red; */
        min-height: 61vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardGeneral{
        /* border: 2px solid green; */
        width: 95%;
        height: 35vh;
        background-color: black;
        color: white;
        display: flex;
        text-align: center;
        border-radius: 10px;
    }

    .imageCardDetails{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .containerImageCardDetails{
        /* border: 2px solid blue; */
        width: 40%;
        height: 100%;
        display: flex;
    }

    .bodyCardDetails{
        /* border: 2px solid salmon; */
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 8px;
        align-items: center;
    }

    .titleCardDetails{
        font-size: 9px;
        color: var(--naranja);
        margin-top: 3px;
    }

    .descriptionCardDetails{
        font-size: 10px;
        color: white;
    }

    .capacityCardDetails{
        color: var(--naranja);
    }

    .cityCardDetails{
        font-size: 9px;
        color: var(--celeste);
        font-weight: bold;
    }

    .titlePopuparTinearies{
        /* border: 2px solid brown; */
        text-align: center;
        margin: .5rem 0;
        color: var(--color-primario);
    }

    .titleHotelDetails{
        /* border: 2px solid brown; */
        text-align: center;
        color: var(--color-primario);
        padding-top: 1rem;
    }

    #containerAllDetails{
        /* border: 5px solid green; */
        background-image: url(https://img.freepik.com/foto-gratis/disparo-gran-angular-pajaro-volando-sobre-agua-puesta-sol_181624-24559.jpg?w=1380&t=st=1669871338~exp=1669871938~hmac=dfc57888fe068aff2bf89f59ebb22a4890ae337357797be087a86ac7fd6aa531);
        background-size: cover;
    }

    .titleNotHaveShows{
        color: white;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    .btnCardDetails{
        /* border: 2px solid red; */
        padding: 4px;
        font-size: 12px;
        border-radius: 15px;
        width: 75%;
        background-color: var(--naranja);
        color: white;
    }
}

@media screen and (min-width:768px){
    #containerCardDetails{
        align-items: flex-start;
    }
    
    .cardGeneral{
        margin-top: 4rem;
        height: 25rem;
    }

    .bodyCardDetails{
        align-items: center;
        justify-content: center;
    }

    .titleCardDetails{
        font-size: 15px;
    }

    .descriptionCardDetails{
        font-size: 13px;
    }

    .capacityCardDetails{
        letter-spacing: 1px;
    }

    .cityCardDetails{
        font-size: 12px;
        letter-spacing: 2px;
    }

    .btnCardDetails{
        /* border: 2px solid red; */
        width: 45%;
        cursor: pointer;
    }
} 

@media screen and (min-width:1024px){
    .btnCardDetails{
        /* border: 2px solid red; */
        width: 35%;
        transition: .5s ease;
        cursor: pointer;
    }

    .btnCardDetails:hover{
        background-color: var(--color-primario);
    }
}

@media screen and (min-width:1440px){
    .btnCardDetails{
        /* border: 2px solid red; */
        width: 25%;
        margin-top: 1rem;
    }
}