*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}

@media screen and (min-width:320px) {
    #cont-editCity{
        width: 100%;
        min-height: 70vh;
        background-image: url(https://img.freepik.com/foto-gratis/vista-centro-manhattan-nueva-york-al-anochecer-rascacielos-iluminados-sobre-east-river_268835-754.jpg?w=1380&t=st=1669582467~exp=1669583067~hmac=06557c769b98ac33fac5e98bc8ca1903cac21c7b557af7a36fa2d3cbbb8bc4d4);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.719);
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
    }

    #cont-formEditCity{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #title-editCity{
        margin: 2rem 0;
        color: var(--naranja);
        background-color: black;
        padding: 0 3rem;
        border-radius: 50px 0 50px 0;
    }

    #subcont-formEditCity{
        width: 100%;
        height: 100%;
    }

    #form-editCity{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cont-inputsEditCity{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
    }

    .Imagen-BackToTop{
        margin-right: .5rem;
        margin-bottom: 10rem;
    }

    .label-formEditCity{
        color: var(--naranja);
        background-color: black;
        border-radius: 10px 0px 10px 0px;
        padding: 0 1rem;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin: 5px 0;
    }

    .input-editCity{
        width: 75%;
        padding: .5rem;
        border-radius: 5px;
        border: 1px solid black;
    }

    #submit-editTine{
        width: 50%;
        padding: .4rem;
        border-radius: 30px;
        color: var(--naranja);
        background-color: var(--color-primario);
        font-weight: bold;
        cursor: pointer;
    }

    #submit-editTine:hover{
        font-style: italic;
        box-shadow: inset 0 -1px 5px var(--naranja);
    }
}

@media screen and (min-width:768px) {
    .input-editCity{
        width: 45%;
    }

    #submit-editTine{
        width: 20%;
    }

    .Imagen-BackToTop{
        margin-right: .5rem;
        margin-bottom: 20rem;
    }
}

@media screen and (min-width:1024px) {
    .input-editCity{
        width: 35%;
    }

}

@media screen and (min-width:1440px) {
    .input-editCity{
        width: 25%;
    }

    #input-description{
        max-width: 25%;
        min-width: 25%;
        min-height: 5rem;
        max-height: 10rem
    }
    
}