.button-goto{
    background: none;
    padding: 10px;
    color: var(--color-primario);
    border: 2px solid var(--color-primario);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    letter-spacing: 2px;
}

.button-goto:hover{
    background-color: var(--color-primario);
    color: var(--naranja);
    transition: ease-in-out .2s;
}

/* --- MEDIA QUIERES --- */

@media screen and (max-width: 768px){
    
    .container-buttons-goto{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .button-goto{
        background: var(--color-primario);
        color: var(--naranja);
    }
}