*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}


@media screen and (min-width:320px) {
    .inputSearch{
        /* border: 2px solid red; */
        width: 50%;
        padding: 5px;
        border-radius: 15px;
        border: none;
        margin-top: 1rem;
    }

    .containerInputs{
        /* border: 3px solid green; */
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:768px){
    .inputSearch{
        width: 30%;
    }
} 

@media screen and (min-width:1024px){
    .inputSearch{
        width: 25%;
    }
} 

@media screen and (min-width:1440px){
    .inputSearch{
        width: 20%;
    }
} 