.checkbox-container{
    display: flex;
    gap: 1rem;
}

.containerCards{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

@media screen and (max-width: 1235px){
    .containerCards{
        gap: .5rem;
    }
}

@media screen and (max-width: 730px) {
    .checkbox-container{
        flex-direction: column;
        gap: .1rem;
    }
}

