/* .cityd-container{
    background-image: url(https://cdn.discordapp.com/attachments/1036655527377248287/1037845101667426424/fondo1_-_Editado.png);
    background-attachment: fixed;
    width: 100%;
    height: 69vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  */