.titleCityDetails{
    text-align: center;
    font-style: italic;
    font-size: 2.5rem;
    color: var(--color-primario);
    padding: 1rem 0;
}

.containerActivities{
    display: flex;
    flex-direction: row;
}

.titleCityDetails:hover{
    color: var(--naranja);
    transition: ease-in-out .5s;
}

.titleItineraries{
    /* border: 2px solid brown; */
    text-align: center;
    margin: .5rem 0;
    color: var(--color-primario);
    font-size: 2rem;
    font-style: oblique;
}

.titleNotHaveTineraries{
    text-align: center;
    color: var(--color-primario);
}

@media screen and (max-width:1150px){
    .containerActivities{
        display: flex;
        flex-direction: column;
    }
}