*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}

@media screen and (min-width:320px){
    #containerComments{
       /*  border: 2px solid green; */
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    #containerCommentsId{
        margin-top: 1rem;
        min-height: 25vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .titleNoComments{
        color: var(--color-primario);
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

@media screen and (min-width:768px){
    .titleNoComments{
        font-size: 1.8rem;
        margin-left: 2.5rem;
    }
}