*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}

@media screen and (min-width:320px) {
    #containerActivityDetails{
        /* border: 3px solid green; */
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardActivity{
        /* border: 2px solid yellow; */
        width: 60%;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        margin: 1rem 0;
    }

    .containerImgActivity{
        /* border: 3px solid blue; */
        height: 58%;
        width: 100%;
    }
    .bodyCardActivity{
        /* border: 2px solid blueviolet; */
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 50%;
        gap: 1rem;
        padding: 5px;
    }

    .imgActivity{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .titleActivity{
        font-size: 10px;
        color: var(--naranja);
        margin-top: 1.5rem;
    }

    .dateCardShow{
        font-size: 12px;
    }

    .priceActivity{
        font-size: 11px;
        margin: 1rem 0;
        color: var(--celeste);
        font-weight: bold;
    }
}

@media screen and (min-width:768px){
    #containerActivityDetails{
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .cardActivity{
        width: 70%;
        border-radius: 20px;
    }

    .imgActivity{
        width: 100%;
        height: 10rem;
        border-radius: 20px 20px 0px 0px;
    }

    .bodyCardActivity{
        /* border: 2px solid blueviolet; */
        height: 50%;
        justify-content: center;
        gap: 1rem;
    }
    .priceActivity{
        font-size: 15px;
        margin: 1rem 0;
        color: var(--celeste);
        font-weight: bold;
    }
}

@media screen and (min-width:1024px){
    .cardActivity{
        width: 28%;
    }
}

@media screen and (min-width:1440px){
.containerActivities{
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

    .cardActivity{
        width: 50%;
        border-radius: 20px;
    }

    .imgActivity{
        width: 100%;
        height: 15rem;
        border-radius: 20px 20px 0px 0px;
    }

    .bodyCardActivity{
        height: 70%;
        justify-content: center;
        gap: 1rem;
    }

    .titleActivity{
        font-size: 14px;
        color: var(--naranja);
        margin-top: 1.5rem;
    }

    .dateCardShow{
        font-size: 15px;
    }

    .priceActivity{
        font-size: 15px;
        margin: 1rem 0;
    }
}
