@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}

@media screen and (min-width:320px) {
    #containerNewComment{
        /* border: 2px solid red; */
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #containerCompontentNewComment{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #titleNewComment{
        text-align: center;
        font-size: 17px;
        color: var(--naranja);
        font-weight: 450;
        cursor: pointer;
    }

    #formComment{
        /* border: 2px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    #textNewComment{
        width: 100%;
        margin: 1rem 0;
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.849);
        color: orange;
        padding: 1.5rem;
        border: none;
        border-radius: 30px 0px 30px 0px;
    }

    #containerTitleTextArea{
       /*  border: 2px solid greenyellow; */
        width: 100%;
        display: flex;
    }

   #containerButtons{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
    }

    .imageButon{
        width: 21px;
    }

    .btnSend{
        /* border: 2px solid green; */
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width:425px){
    #containerNewComment{
        /* border: 2px solid red; */
        padding: 0px;
        display: flex;
    }

    #containerTitleTextArea{
        /* border: 2px solid greenyellow; */
        width: 93%;
    }

    #containerButtonsNewComments{
        /* border: 2px solid blue; */
        width: 7%;
    }
}

@media screen and (min-width:768px){
    #containerNewComment{
        /* border: 2px solid red; */
        padding: 0px;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    #containerTitleTextArea{
        /* border: 2px solid greenyellow; */
        width: 80%;
    }

    #containerButtonsNewComments{
        /* border: 2px solid blue; */
        width: 7%;
    }

    #formComment{
        /* border: 2px solid red; */
    }

    #containerButtons{
        /* border: 2px solid blue; */
        width: 8%;
      
    }
}

@media screen and (min-width:1024px){
    #containerTitleTextArea{
        /* border: 2px solid greenyellow; */
        width: 60%;
    }

    #containerButtonsNewComments{
        /* border: 2px solid blue; */
        width: 7%;
    }

    #titleNewComment{
        font-size: 1.8rem;
        font-weight: 300;
        position: relative;
        padding: 10px;
    }

    #titleNewComment::after{
            content:"";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color:orange;
            right: 0;
            left: 0;
            bottom: 0;
            transform-origin: right;
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
    }

    #titleNewComment:hover::after{
        transform-origin: left;
        transform: scale(1);
    }

    #textNewComment{
        margin-left: 2rem;
        font-family: 'Quicksand', sans-serif;
    }

    #containerCompontentNewComment{
       gap: 1rem;
       padding-left: 4rem;
    }

    .imageButon{
        margin: 0 1rem;
    }

    .btnSend{
        transition: .5s ease;
    }

    .btnSend:hover{
        transform: scale(1.2);
    }
}



