.card-container{
    height: auto;
    width: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-createTine{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 0 0;
}

.btn-createTine h2{
    font-size: 1rem;
    background-color: var(--celeste);
    color: black;
    padding: .6rem;
    border-radius: 20px 0 20px 0;
    border-left: 2px groove var(--color-primario);
    border-top: 2px groove var(--color-primario);
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.btn-createTine h2:hover{
    background-color: var(--naranja);
    box-shadow: 4px 4px 4px black;
    transition: ease .4s;
}

.btn-createTine img{
    width: 20px;
    height: 20px;
}

:root{
    --color-primario: #24265D;
    --naranja: #F68712;
    --celeste: #51ADE5;
    --azul-claro: #2C3892;
}

@media screen and (min-width:320px) {

    #containerGeneral{
        background-image: url(https://images.unsplash.com/photo-1550133730-695473e544be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
    }
    .containerCards{
        /* border: 5px solid red; */
        min-height: 84vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Imagen-BackToTop{
        margin-left: 4.5rem;
        margin-top: 5rem;
        width: 2rem;
        height: 2rem;
        background-color: var(--naranja);
    }
    
    .card-Itinerary{
        /* border: 2px solid red; */
        margin: 1.2rem 0;
        width: 75%;
        min-height: 55vh;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: whitesmoke;
        align-items: center;
        padding: .5rem;
    }

    .imageCardItineraries{
        object-fit: cover;
        width: 100%;
        max-height: 35%;
        /* border: 2px solid red; */
    }

    .titleCardItineraries{
        font-size: 8px;
        color: var(--naranja);
        margin: 1rem 0;
        text-align: center;
    }

    .descriptionCardItineraries{
        /* border: 2px solid blue; */
        font-size: 8px;
        text-align: center;
        height: 35%;
        color: white;
        line-height: .9rem;
    }

    .btnCardEdit{
        width: 40%;
        padding: 4px;
        border-radius: 20px;
        background-color: var(--naranja);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        margin: 1.2rem 0;
        text-decoration: none;
    }

    .btnCardDelete{
        width: 40%;
        padding: 4px;
        border-radius: 20px;
        background-color: red;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        margin: 1.2rem 0;
        text-decoration: none;
    }

    #containerSelectSearchBar{
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .ItemSearch{
        padding: 5px;
        width: 60%;
        border-radius: 20px;
    }

    #searchBarHotels{
        border: none;
    }

    .durationItineraries{
        color: var(--naranja);
    }
}

@media screen and (min-width:768px) {
    .containerCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card-Itinerary{
        width: 40%;
    }

    .Imagen-BackToTop{
        margin-left: 4rem;
        margin-top: 5rem;
        width: 1.8rem;
        height: 1.8rem;
        background-color: var(--naranja);
    }
}

@media screen and (min-width:1024px) {
    .containerCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card-Itinerary{
        width: 30%;
        transition: .5s ease;
    }

    .titleCardItineraries{
        font-size: .7rem;
    }

    .descriptionCardItineraries{
        font-size: .6rem;
    }

    .btnCardEdit{
        margin: .3rem 0;
        font-size: .6rem;
    }

    .btnCardDelete{
        margin: .3rem 0;
        font-size: .6rem;
    }

    .Imagen-BackToTop{
        margin-left: 3.5rem;
        margin-top: 5rem;
        width: 2rem;
        height: 2rem;
        background-color: var(--naranja);
    }
}

@media screen and (min-width:1024px) {
    .containerCards{
        gap: 5rem;
    }

    .card-Itinerary{
        width: 25%;
        height: 60vh;
    }

    .titleCardItineraries{
        font-size: .9rem;
    }

    .descriptionCardItineraries{
        font-size: .6rem;
    }
}

@media screen and (min-width:1440px) {
    .containerCards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    }

    .card-Itinerary:hover{
        background-color: rgba(0, 0, 0, 0.87);
        box-shadow: 10px 10px 10px black;
    }
    
    .titleCardItineraries{
        font-size: 1.1rem;
        color: var(--naranja);
    }

    .descriptionCardItineraries{
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .btnCardEdit{
        width: 50%;
        padding: 10px;
        font-size: .8rem;
        background-color: var(--celeste);
        color: var(--color-primario);
        transition: .5s ease;
    }

    .btnCardDelete{
        width: 50%;
        padding: 10px;
        font-size: .8rem;
        background-color: red;
        color: white;
        transition: .5s ease;
    }
    
    .btnCardEdit:hover{
        background-color: var(--naranja);
        color: whitesmoke;
    }

    .btnCardDelete:hover{
        background-color: rgb(129, 2, 2);
        color: var(--celeste);
    }
}